@model IEnumerable<MusicAgora.Common.Library.TransferObjects.SheetTO>

@{
    ViewData["Title"] = "AllSheets";
}

<h1>AllSheets</h1>

<p>
    <a asp-action="CreateSheet">Create New Sheet</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCurrent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Composer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arranger)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsIndependance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsGarde)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCurrent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Composer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arranger)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsIndependance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsGarde)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                @Html.ActionLink("Details", "SheetDetails", new { id=item.Id}) |
                @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
}
    </tbody>
</table>
