@model IEnumerable<MusicAgora.Common.Library.TransferObjects.SheetPartTO>

@{
    ViewData["Title"] = "MySheetPartsOfThisSheet";
}

<h1>@Model.FirstOrDefault().Sheet.Name</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Part)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Part)
            </td>
            <td>
                @Html.ActionLink("Download", "DownloadSheetPart", new { id=item.Id }, new { @class= "btn btn-success" }) 
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
}
    </tbody>
</table>
