@model IEnumerable<MusicAgora.Common.Library.TransferObjects.InstrumentTO>

@{
    ViewData["Title"] = "InstrumentsIndex";
}

<h1>Instruments Index</h1>

<p>
    <a asp-action="CreateInstrument">Create New Instrument</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditInstrument", new { id = item.Id }) |
                @Html.ActionLink("Details", "InstrumentDetails", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteInstrument", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
