@model IEnumerable<MusicAgora.WebUx.MVC.Models.GlobalUserVM>

@{
    ViewData["Title"] = "UsersIndex";
}

<h1>Users Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdentityUser.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdentityUser.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibraryUser.Instruments)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdentityUser.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentityUser.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LibraryUser.Instruments)
            </td>
            <td>
                @Html.ActionLink("Edit", "ModifyUser", new { id = item.IdentityUser.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdentityUser.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdentityUser.Id })
            </td>
        </tr>
}
    </tbody>
</table>
