@model IEnumerable<MusicAgora.WebUx.MVC.Models.GlobalUserVM>

@{
    ViewData["Title"] = "UsersIndex";
}

<h1>UsersIndex</h1>

<table class="table">
    <thead>
        <tr>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdentityUser.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentityUser.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LibraryUser.Instruments)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
